body{
    background: #fcfcfc;
}

nav{
    background: white;
    border-bottom-color: black; 
    color: black;
}

.navlink{
    color: #61da70;
    font-weight: bold;
    text-transform: uppercase;
}
.fishingform{
    background: white;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5%;
    border-radius: 2%;  
}

.page-footer{
    background: white;
    color: #61da70;
    font-weight: bold;
}

.copyright{
    color: #61da70; 
    margin-top: 5%; 
    margin-bottom: 5%;
}