        <footer class="page-footer">
        
          <div class="footer-copyright">
            <div class="container">
            <span class=copyright> © 2019 SealsTeam </span>
            </div>
          </div>
        </footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
<script src="/js/materialize.min.js "></script>
<script src="js/init.js"></script>
<script src="js/paasChecker.js"></script>
</body>
</html>