<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<title>404</title>


	
	<link type="text/css" rel="stylesheet" href="css/404.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>4<span>0</span>4</h1>
			</div>
			<p>Возможно, страница, которую вы ищете, была удалена, если ее имя было изменено или временно недоступно</p>
			<a href="/">Главная СТраница</a>
		</div>
	</div>

</body><

</html>
