<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/test.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <title>CIBERLEXA</title>
</head>
<body>
        <h1> Her </h1>
        <form action="/register" method="POST">
            <input palceholder="name"  name = 'name'/>
            <input palceholder="surname" name = "password">
            <button type="subnmit"> Принять </button>
        </form>
</body>
</html>