.password-check-result>p {
  text-align: center;
  font-size: 1rem;

}

.password-check-result>h3 {
  text-align: center;
  font-size: 2rem;
  padding: 2px;
  text-transform: uppercase;
  margin: 0px;
}

.password-check-result {
  display: none;
}

#check-reason {
  display: none;
}

.input-pass-text {
  text-align: center;
}