@import url("./timeline.css");
@import url("./inputPassword.css");
@import url("./passwordPage.css");

.password-section__main-text{
    text-align: justify;
    font-size: 18px;
}
.password-section__subtitle{
    color: #61da70;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 3%;
}
body {
    background: #f3ffdc;

    max-width: 1600px;
    margin: auto;
}

nav{
    background: white;
    border-bottom-color: black; 
    color: black;
}

.navlink{
    color: #61da70;
    font-weight: bold;
    text-transform: uppercase;
}
.fishingform{
    background: white;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    border-radius: 1%;
    box-shadow: 1px 6px 6px 1px #ccc; 
    padding-bottom: 10%;
    padding-right:10%; 
    padding-left:10%;  
}

.page-footer{
    background: #f3ffdc;
    color: #61da70;
    font-weight: bold;
}

.copyright{
    color: #61da70; 
    margin-top: 5%; 
    margin-bottom: 5%;
    
}
::placeholder{
    color:#61da70;
    font-weight: bold;
    text-transform: uppercase;
}
.title{
    text-transform: uppercase;
    font-weight: bold;
}
/*  Мои стили*/

.top-navbar a {
    color: #949494;
}

.mail-program__mail-name {
    padding-left: 1rem;
}

.mail-program__mail-sender {
    padding-right: 5rem;
}

.img-main-background {
    background-image: url("../img/1020_preobrazovanny_withBlackScreen.png");
    background-size: contain;
    background-position-x: 70%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;

}

.main-img {
    padding-left: 30%;
    width: auto;
    height: 100vh;
}

.impact{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.reg-form{
    padding: 5%;
    background: white;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 1%;
    box-shadow: 1px 6px 6px 1px #ccc; 
}
.adv-form{
    background: white;
    width: 100%;
    padding: 10%;
    border-radius: 1%;
    box-shadow: 1px 6px 6px 1px #ccc; 
}
.title-fish{
    text-align: center;
    margin-top: 10%; 
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10%;
}

.main-img-button {
    background-color: #ff2c9c;
    border-radius: 10px;
    min-width: 170px;
}
.reg-button{
    background-color:#61da70;
    border-radius: 10px;
    margin-top: 5%;
    min-width: 100px; 
    font-weight: bold;
}

.header-block {
    position: absolute;
    top: 5%;
    left: 10%;
}

.header-block__h1 {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}

.header-block__h2 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

.header-block__paragraph {
    color: white;
    /*  word-break: break-all; */
}

.container-main-page {
    background-image: url("../img/background-matrix2_1048-2859.jpg");
    background-size: contain;
}

.main-page-nav {
    position: relative;
}

.main-page-nav__img {
    /*  position: absolute;
    left: 0;
    bottom: -20px; */
    width: 130px;

}

.main-page-nav .brand-logo__link {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 130px;
    display: flex;
}


.logo-text {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 3rem;

}

.logo-text__inner-span {
    color: #61da70
}

nav a {
    color: #949494
}

.brand-logo.brand-logo__link {
    display: relative;
}

.brand-logo.brand-logo__link.visible-score::before {
    width: 30px;
    height: 30px;
    content: attr(data-attr);
    background: #61da70;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    line-height: 0;
    top: 5%;
    position: absolute;
    left: 5%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}



/* media query */

@media screen and (max-width: 992px) {
    /*   .brand-logo__link {
      left: 20% !important;
  
    } */

    .img-main-background {
        background-image: none;
    }
}

@media screen and (max-width: 992px) {
    .header-block__h1 {
        display: block;
        font-size: 2rem;
        font-weight: 800;
        text-transform: uppercase;
        color: white;
        text-align: center;
    }

    .header-block__h2 {
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        color: white;
        text-align: center;
    }

    .header-block {
        position: absolute;
        width: 100%;
        top: 5%;
        left: 0;
        /* min-width: 600px; */
    }

    left .header-block__paragraph {
        color: white;
        text-align: center;
    }

    .main-img-button {
        margin: auto;
        display: block;
        width: 30%;
    }

    .header-block__paragraph {
        text-align: center;
    }

    .main-page-nav .brand-logo__link {
        left: 20%;
        bottom: -40px;
        width: 100px;
    }


    .logo-text {
        font-size: 2.5rem;

    }


}

@media screen and (max-width: 450px) {
    .main-page-nav .brand-logo__link {
        left: 30%;
        bottom: -20px;
    }

    .main-page-nav__img {
        width: 100px;
    }

    .logo-text {
        font-size: 2rem;

    }

    body {
        min-width: 350px;
    }
}