<%- include('../layouts/navbar.ejs')%>
<div class="container password-section fishingform">
 <h5 class="password-section__subtitle">Фишинг: что хотят украсть мошенники?</h5>
 <img class="password-section__leha-img-icon slide-in-left" src="gameimg/Risunok4.png" alt="leha lazy icon">
    <p class="password-section__main-text"> 
        Первый и главный вопрос, на который вам необходимо ответить самому себе: какие виртуальные сокровища есть у вас? Опасности могут подвергаться:
        <ol>
            <li>Данные банковских карт. Если вы расплачиваетесь в интернете и храните сбережения на одной и той же карте, подумайте, что случится, когда кто-то получит к ней доступ.</li>
            <li>Логины и пароли к сервисам с оплаченной подпиской. Купили годовую подписку на видеосервис? Оплатили доступ к виртуальной библиотеке? Ваш «читательский» могут украсть. </li>
            <li>Аккаунты в социальных сетях. Даже если вы не топовый блогер с миллионами подписчиков, ваши логины и пароль представляют интерес для воришек-фишеров: например, их можно продать нелегальным накрутчикам лайков и репостов или попросить от вашего имени деньги в долг. </li>
            <li>Пароли от почтовых ящиков. Что хранит ваша рабочая или личная почта? Зачастую — всё, начиная от конфиденциальных документов, заканчивая аккаунтами в интернет-сервисах. </li>
        </ol>
        <img class="password-section__leha-img-icon" src="gameimg/Risunok8.png" alt="leha mail icon">

        Теперь, когда вы знаете, за чем могут охотиться фишеры, давайте рассмотрим варианты наживок этих рыболовов.
    </p>
   

    <h5 class="password-section__subtitle">Виды фишинга: всплывающий баннер</h5>

    <p class="password-section__main-text">  Основной приём фишеров — имитация хорошо знакомых всем сайтов для получения с их помощью личной информации пользователей. Всплывающие баннеры самого разного содержания могут привести вас, например, на поддельную страницу авторизации в социальной сети. Самый верный способ не попасться на крючок — внимательно смотреть на адресную строку. Любые отличия в имени домена должны вас насторожить.
Если ваш браузер автоматически заполняет поля логина и пароля для авторизации, ещё одним тревожным звоночком может стать неожиданный запрос данных тогда, когда обычно этого не происходит.
</p>


    <h5 class="password-section__subtitle">Виды фишинга: невиданная распродажа</h5>

    <p class="password-section__main-text">Ещё более хитрый и коварный вид мошенничества также связан с маскировкой под известные сайты, связанные с покупками. Вы видите рекламу любимого интернет-магазина, в котором началась вкусная распродажа, а может быть, даже получаете сообщение об этом с прикреплённой ссылкой. Переходите, видите отличные цены и огромные кнопки «КУПИТЬ», которые сразу приведут в раздел оплаты, где необходимо будет ввести данные вашей карты.
Дальше всё будет выглядеть как обычно: вы введёте номер и имя владельца, CVC-код, только вот деньги будут списаны отнюдь не за товар, и вполне возможно, в гораздо большем размере, чем его стоимость.
Проверить, в настоящий ли вы попали магазин, можно несколькими способами. Первый — ввести его название в поисковике и проверить результаты. Вполне возможно, вы увидите разницу в адресах страниц, от одной до нескольких букв, или другое оформление; всё это говорит только об одном — покупать на сайте с распродажей ничего не нужно.
Второй способ — позвонить на горячую линию магазина и уточнить о текущих акциях. Только будьте внимательны, номер телефона нельзя брать со страницы с распродажей, так как на том конце провода может оказаться «поддельный» менеджер.
</p>
<img class="password-section__leha-img-icon" src="gameimg/team1.jpg" alt="leha mail icon">
    <h5 class="password-section__subtitle">Виды фишинга: задолженности, штрафы, переводы</h5>

    <p class="password-section__main-text">Фишеры часто рассылают «письма счастья» или сообщения, уведомляя, например, о задолженности по счёту в СберВанке или о штрафе в ГИБЖД. В них вы можете увидеть ссылку с предложением оплатить их мгновенно со скидкой или ввести данные банковской карты для её разблокировки. Эффект неожиданности сделает своё дело, и, подвергнувшись волнениям, вы слепо попадётесь в лапы злоумышленников.
Здесь совет один: выдохнуть, отвлечься от компьютера или смартфона и перепроверить информацию. Но только у первоисточника, а не перейдя по полученной ссылке. Например, свяжитесь с поддержкой банка, позвонив на горячую линию, или проверьте штрафы через приложение.
</p>
<img class="password-section__leha-img-icon" src="gameimg/team2.jpg" alt="leha mail icon">

        <h5 class="password-section__subtitle">Виды фишинга: проблемы с почтой или аккаунтом</h5>

        <p class="password-section__main-text">Ещё один вариант письма от фишеров — сообщения о проблемах с вашим почтовым ящиком. Вариантов масса, начиная от «с вашего адреса рассылали спам, пройдите по этой ссылке в течение 24 часов, чтобы его не заблокировали» до «свободное место в почте заканчивается, активируйте дополнительные мегабайты». Уровень подделки зависит от технической продвинутости мошенников, и, если письмо с адреса tolyan@mail.ru сразу же вызовет подозрения, то admin@gmail.org может многих ввести в заблуждение.
В любом случае насторожить должно то, что в письме от вас требуют действовать немедленно и просят дополнительно ввести свой логин и пароль.
</p>

        <img class="password-section__leha-img-icon" src="gameimg/team3.jpg" alt="leha mail icon">
        <h5 class="password-section__subtitle">Защита от фишинга: как не попасть на любые уловки?</h5>

        <p class="password-section__main-text">Универсальное правило борьбы с фишингом довольно простое: не дайте эмоциям одержать верх над разумом. Проверяйте адреса веб-сайтов перед совершением действий, уточняйте информацию в альтернативных источниках и храните свои пароли в надёжном месте. Не гонитесь за дешевизной — стремление сэкономить, или попросту «жажда халявы», в этом случае — основная наживка.</p>

      
        <img class="password-section__leha-img-icon" src="gameimg/Risunok11.png" alt="leha mail icon">


       

        <a class="right waves-effect waves-light btn reg-button" href="/friendFish" >задание</a>
    </div>
<%- include('../layouts/footer.ejs')%>