 <%- include('../layouts/navbar.ejs')%>
 
 <div class="container fishingform">
  <div class="menu-timeline">
    <div class="menu-timeline__paragraph active">
 <a style="color:black" href="/password-lesson"><div class="menu-timeline__inner-container"><img class="img-leha-password" src="/img/Leha_password_icon.png"><p>Пароли</p></div></a></div>
  <div class="menu-timeline__paragraph active"><a  style="color:black;" href="/fishing-lesson"><div class="menu-timeline__inner-container"><img class="img-leha-password not-active" src="/img/Leha_mail_icon.png"><p>Электронная почта и фишинг</p></div></a></div>
  <div class="menu-timeline__paragraph active"><a  style="color:black;" href="/fishing-lesson"><div class="menu-timeline__inner-container"><img class="img-leha-password not-active" src="/img/Leha_mail_icon.png"><p>Безопасность в интернете</p></div></a></div>
  <div class="menu-timeline__paragraph active"><a  style="color:black;" href="/fishing-lesson"><div class="menu-timeline__inner-container"><img class="img-leha-password not-active" src="/img/Leha_mail_icon.png"><p>Социальные сети и мессенджеры</p></div></a></div>
  <div class="menu-timeline__paragraph active"><a  style="color:black;" href="/fishing-lesson"><div class="menu-timeline__inner-container"><img class="img-leha-password not-active" src="/img/Leha_mail_icon.png"><p>Безопасность компьютеров</p></div></a></div>

    </div>

</div>
    
<%- include('../layouts/footer.ejs')%>