<%- include('../layouts/navbar.ejs')%>
 <div class="container-main-page">
    <div class="img-main-background">
      <!--  <img class="main-img" src="1020_preobrazovanny.png" alt="Unsplashed background img 1"> -->
      <div class="header-block">
        <h1 class="header-block__h1">обучение безопасности</h1>
        <h2 class="header-block__h2">в сети</h2>
        <p class="header-block__paragraph">проект по повышению уровня знаний по кибербезопасности</p>
        <a class="waves-effect waves-light btn main-img-button" href="/user-register">Начать обучение</a>
      </div>
    </div>
    </div>
<%- include('../layouts/footer.ejs')%>