<%- include('../layouts/navbar.ejs')%>
 <div class="container-main-page">
    <div class="img-main-background">
      <!--  <img class="main-img" src="1020_preobrazovanny.png" alt="Unsplashed background img 1"> -->
      <div class="header-block">
        <h1 class="header-block__h1 her">Скажи нет</h1>
          <h1 class="header-block__h1 hacker">хакерам!</h1>
        <p class="header-block__paragraph">Дружелюбный сервис по обучению кибербезопасности</p>
        <a class="waves-effect waves-light btn main-img-button" href="/register">Начать обучение</a>
      </div>
    </div>
    </div>
<%- include('../layouts/footer.ejs')%>