<%- include('../layouts/navbar.ejs')%>
<div class="container fishingform">
  <h1> Войти </h1>
  <% if (msg) { %>
    <h2><%= msg %></h2>
  <% } %>
  <form action="/login" method="POST"  > 
      <input placeholder="name" name="name"/> 
      <input placeholder="password" name="password"/><br><br>
      <button type="submit"> Принять </button>
  </form>  
</div>
<%- include('../layouts/footer.ejs')%>