<%- include('../layouts/navbar.ejs')%>
<div class="container fishingform">
  <h3 class="title center" > Войти </h3>
 
  <form action="/login" method="POST"  > 
      <input placeholder="name" name="name"/> 
      <input type="password" placeholder="password" name="password"/><br><br>
       <a class="right waves-effect waves-light btn reg-button" href="javascript:{}" onclick="document.getElementById('login').submit();">Принять</a>
  </form>  
</div>
<%- include('../layouts/footer.ejs')%>