<%- include('../layouts/navbar.ejs')%>


 <div class="container-main-page">
    <div class="img-main-background">
      <!--  <img class="main-img" src="1020_preobrazovanny.png" alt="Unsplashed background img 1"> -->
      <div class="header-block">
        <h1 class="header-block__h1">обучение безопасности</h1>
        <h2 class="header-block__h2">в сети</h2>
        <p class="header-block__paragraph">проект по повышению уровня знаний по кибербезопасности</p>
        <a class="waves-effect waves-light btn main-img-button">Начать обучение</a>
      </div>
    </div>
    </div>

<h1> hello her </h1>
<% if (msg) { %>
  <h2><%= msg %></h2>
<% } %>
<form action="/moks" method="POST" enctype="multipart/form-data" > 
    <input placeholder="name" name="name"/><br>
    <input placeholder="password" name="password"/><br><br>
    <input name="avatar" type="file" accept='image/png, image/jpeg'><br><br>
    <input type="email" name="email"  placeholder="email"><br>
    <input type="number" name="phone" placeholder="phone number">
    <button type="submit"> Принять </button>
<form>  

<%- include('../layouts/footer.ejs')%>