<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="game.css">
    
</head>
<body>
    
    <div class="Maindivgame">
        <div class="imganimation"><img class="picture" src="./gameImg/Risunok1.png"></div>
        <div class="textinfo">
            <h1>hello</h1>
            <p class="textgame">Перед вами 10 историй о киберугрозах и правилах информационной безопасности: украденные данные, интеллектуальные кофеварки и, конечно, криптовалюты. Одни случились с крупными корпорациями, другие могут произойти и с вами, а часть - просто мифы. Ваша задача разобраться, какие ситуации реальны, а какие - выдумка.</p>
            <span class="button" id="buttongame" >Начать</span>
        </div>
    </div>
    <script src="game.js"></script>
</body>
</html>